/* BASE TEMPLATE STYLES */
body, html{
    height: 100%;
    margin: 0;
    padding: 0;
}

.container-fluid{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.fancy_font{
    font-family: 'Crimson Text', serif;
}

.heading{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

.btn{
    border: none;
}

.navbar{
    background-color: #000;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.8);
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{
    color: rgba(170, 0, 0, 0.75);
}

.subnav{
    background-color: #363535;
    justify-content: center;
}

.flashes{
    color: #f5f5f5;
    margin: 0 auto;
}
.nav-item > p{
    margin: 0;
}

.red-divider{
    height: 3px;
    width: 100%;
    background-color: #8E0101;
}
.black-divider{
    height: 3px;
    width: 100%;
    background-color: #000;
}
.page-divider{
    height: 3px;
    background-color: rgba(0, 0, 0, 0.205);
    width: 50%;
    margin-left: 25%;
}

.log-button{
    color: #fff;
    border: none;
}

.reg-button{
    position: relative;
    bottom: 1px;
    border: 1px solid #8e0101;
    border-radius: 5px;
    color: #fff;
}



/* INDEX STYLES */
.index-hero {
    color: white;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/images/large-images/index-hero-banner.jpg);
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;  
    width:100%; 
}

.index h5 {
    color:white;
    text-shadow:2px 2px #333;
}

.cta{
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
    justify-content: center;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.join-button{
    background-color: #8e0101;
    color: white;
}

.jumbotron{
    margin-bottom: 0;
}


.feature-one{
    margin-left: 12%;
    margin-right: 12%;
    min-height: 300px;
    width: auto;
}

.feature-one-img{
    border-radius: 3px;
    background: url(../assets/images/small-images/feature-one-thumbnail.jpg);
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    width: auto;
}

.feature-one-text{
    height: 100%;
    width: auto;
}

.feature-two{
    min-height: 300px;
    width: auto;
    
}

.feature-cards{
    margin-left: 12%;
    margin-right: 12%;
}
/* LOOKUP PAGE */

.lookup-body{
    min-height: 450px;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../assets/images/large-images/div-bg-texture.jpg);
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover; 
    
}


.lookup-list{
    margin: 25px;
}

.lookup-hero {
    color: white;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/images/large-images/lookup-banner.jpg);
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;  
    width:100%; 
}

.lookup-container{
    border-radius: 18px;
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../assets/images/large-images/div-bg-texture.jpg);
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover; 
}

.lookup-icon-container{
    margin: 25px;
    border-radius: 18px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/large-images/fr-map.jpg);
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover; 
    background-blend-mode: saturation;
}

.lookup-image{
    height: 95%;
    width: auto;
    
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: contain;
}

.class_link{
    text-decoration: underline;
}


table, th, td {
    padding: 7px;
    border: 1px solid black;
    border-collapse: collapse;
}

/* LOOKUP SIDEBAR */

#body-row {
    margin-left:0;
    margin-right:0;
}
#sidebar-container {
    min-height: 450px;
    background-color: #333;
    padding: 0;
}


/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 300px;
}
.sidebar-collapsed {
    width: 100px;
}

/* Menu item*/
.list-group-item,
.list-group-item-action{
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
    background-color: #5b0000;
}

.list-group-item-action:focus,
.list-group-item-action:hover{
    background-color: #360000;
}


#sidebar-container .list-group a {
    height: 50px;
    color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
/* Separators */
.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}
.sidebar-separator {
    background-color: #333;
    height: 25px;
}
.logo-separator {
    background-color: #333;    
    height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

.small-device-menu a{
    color: #212529;
}

/* LOGIN PAGE */


.user-auth-link {
    color: #f5f5f5;
    text-decoration: underline;
}
.user-auth-link:hover{
    color: grey;
    text-decoration: none;
}

/* REGISTER PAGE */
.sign-up-container{
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/images/large-images/user-auth-bg.jpg);
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
    height: 100vh;
}

.user-auth-form{
    margin-top: 150px;
    margin-bottom: 60%;
    color: #f5f5f5;
    text-align: center;
}


.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}


/* PROFILE PAGE */

.profile-hero{
    color: white;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(../assets/images/large-images/profile-banner.jpg);
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1 50px;  
    width:100%;
}

.profile-intro{
    margin-left: 12%;
    margin-right: 12%; 
    width: auto;
}

.quest-wrapper{
    margin-bottom: 200px;
    border-radius: 8px;
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../assets/images/large-images/div-bg-texture.jpg);
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover; 
    
}

.form-item{
    background-color: #ffffff6b;
}

.quest-wrapper i{
    margin-left: 10px;
}

.quest-button{
    margin: 0;
    background-color: #8e0101;
    color: white;
}
.quest-card{
    background-color: #ffffff6b;
}



/* MEDIA QUERIES */

@media (max-width: 1100px) {
    .lookup-image,
    .lookup-icon-container{
        display: none;
    }
}

@media (max-width: 750px) {
    .hide {
        display: none;
    }
    
}





