/* BASE TEMPLATE STYLES */
body {
    background: url(../assets/images/large-images/div-bg-texture.jpg);
    background-position: center center;
    background-size: cover;
}
main {
    min-height: 100vh;
}

.card{
    flex-basis: 100%;
}



.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.fancy-font {
    font-family: "Crimson Text", serif;
}

.heading {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
}

.btn {
    border: none;
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: rgba(170, 0, 0, 0.75);
}

.navbar {
    background-color: #000;
}
.navbar-nav, .nav-link {
    color: rgba(255, 255, 255, 0.8);
}

.navbar-nav, 
.nav-link:focus,
.navbar-nav,
.nav-link:hover {
    color: rgba(170, 0, 0, 0.75);
}

.header-links {
    color: grey;
}

.subnav {
    background-color: #363535;
    justify-content: center;
}

.flashes {
    color: grey;
    margin: 0 auto;
}
.nav-item > p {
    margin: 0;
}

.red-divider {
    height: 3px;
    width: 100%;
    background-color: #8e0101;
}
.black-divider {
    height: 3px;
    width: 100%;
    background-color: #000;
}
.page-divider {
    height: 3px;
    background-color: rgba(0, 0, 0, 0.205);
    width: 50%;
    margin-left: 25%;
}

.log-button {
    color: #fff;
    border: none;
}

.footer {
    background-color: rgb(51, 51, 51);

    position: static;
    bottom: 0;
}

.footer-links {
    color: grey;
}

/* INDEX STYLES */
.index-hero {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/images/large-images/index-hero-banner.jpg)
}

.index h5 {
    color: white;
    text-shadow: 2px 2px #333;
}

.cta {
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
    justify-content: center;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.join-button {
    background-color: #8e0101;
    color: white;
}

.jumbotron {
    margin-bottom: 0;
}

.feature-one {
    margin-left: 12%;
    margin-right: 12%;
    min-height: 300px;
    width: auto;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
}

.feature-one-img {
    border-radius: 3px;
    background: url(../assets/images/small-images/feature-one-thumbnail.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
}

.feature-one-text {
    height: 100%;
    width: auto;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
}

.feature-two {
    min-height: 300px;
    width: auto;
    margin-left: 12%;
    margin-right: 12%;
}

.feature-cards {
    background-color: #ffffff6b;
}

/* RESOURCES PAGE */
.resources-hero {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/images/large-images/resources-hero.jpg);
}

.books-container {
    min-height: 400px;
}

.book-card {
    background-color: #ffffff6b;
}

.buy-link {
    color: #000;
    text-decoration: underline;
}

/* LOOKUP PAGE */

.lookup-body {
    min-height: 450px;
}

.lookup-hero {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/images/large-images/lookup-banner.jpg);
}

.lookup-container {
    border-radius: 18px;
    background: url(../assets/images/large-images/div-bg-texture.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.lookup-icon-container {
    margin: 25px;
    border-radius: 18px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/large-images/fr-map.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: saturation;
}

.lookup-image {
    height: 95%;
    width: auto;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.class_link {
    text-decoration: underline;
}

.table-container{
    overflow-x:auto;
}

table,
th,
td {
    padding: 7px;
    border: 1px solid black;
    border-collapse: collapse;
}

/* LOOKUP SIDEBAR */

#body-row {
    margin-left: 0;
    margin-right: 0;
}

.sidebar-expanded {
    width: 400px;
}

/* Menu item*/
.list-group-item {
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff6b;
}

.submenu {
    background-color: transparent;
    width: 85%;
    margin-left: 15%;
}

.list-group-item-action:focus,
.list-group-item-action:hover {
    background-color: #5e000077;
}

#sidebar-container .list-group a {
    height: 50px;
    color: #000;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}

/* Separators */
.sidebar-separator-title {
    background-color: #ffffff6b;
    height: 35px;
}

.sidebar-separator {
    background-color: #333;
    height: 25px;
}

.small-device-menu a {
    color: #212529;
}

/* LOGIN PAGE */
.user-auth-link {
    color: #f5f5f5;
    text-decoration: underline;
}
.user-auth-link:hover {
    color: grey;
    text-decoration: none;
}

/* REGISTER PAGE */
.sign-up-container {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/images/large-images/user-auth-bg.jpg);
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
    height: 100vh;
}

.user-auth-form {
    margin-top: 150px;
    margin-bottom: 60%;
    color: #f5f5f5;
    text-align: center;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

/* PROFILE PAGE */
.profile-hero {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(../assets/images/large-images/profile-banner.jpg);
}

.profile-intro,
.profile-tools {
    width: auto;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
}

.profile-tools li a {
    color: #8e0101;
}

.quest-wrapper,
.character-wrapper {
    height: 100%;
    width: auto;
    border-radius: 8px;
}

.form-item {
    background-color: #ffffff6b;
}

.quest-wrapper i {
    margin-left: 10px;
}

.quest_name {
    font-size: 25px;
}

.quest-button {
    margin: 0;
    background-color: #8e0101;
    color: white;
}

.edit-button,
.back-button {
    background-color: green;
    color: white;
}
.delete-button,
.delete-account-button {
    background-color: #8e0101;
    color: white;
}

.quest-card,
.character-card {
    background-color: #ffffff6b;
}


/* BACKGROUND/HERO POSITIONING */

.index-hero,
.resources-hero,
.lookup-hero,
.profile-hero,
.sign-up-container{
    color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 150px;
    width: 100%;
}


/* MEDIA QUERIES */

@media (max-width: 1100px) {
    .lookup-image,
    .lookup-icon-container {
        display: none;
    }
}

@media (max-width: 920px) {
    .sidebar-expanded {
        margin-top: 5%;
        margin-left: 10%;
        margin-right: 10%;
        width: 100%;
    }
    .table-container{
        width: 75%;
    }
}
@media (max-width: 480px) {
    .sidebar-expanded {
        
        max-width: 300px;
    }
}

@media (max-width: 1100px) {
    .hide {
        display: none;
    }
}
