/* BASE TEMPLATE STYLES */

body{
    background-color: #fff;
    font-family: 'Ubuntu', sans-serif;
}

html {
    position: relative;
    min-height: 100%;
}

.btn{
    border: none;
}

body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}

.footer {
    background-color: #000;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
   
}

.container-fluid{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.main-nav{
    background-color: #000;
}

.subnav{
    background-color: #363535;
    justify-content: center;
}

.flashes{
    color: #f5f5f5;
    margin: 0 auto;
}
.nav-item > p{
    margin: 0;
}

.red-divider{
    height: 3px;
    width: 100%;
    background-color: #8E0101;
}
.black-divider{
    height: 3px;
    width: 100%;
    background-color: #000;
}

.red-button{
    background-color: #8e0101;
    color: #fff;
}




/* INDEX STYLES */
.index-hero {
    color: white;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/images/large-images/index-hero-banner.jpg);
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 350px;  
    width:100%; 
}

.index h5 {
    color:white;
    text-shadow:2px 2px #333;
}

.cta{
    justify-content: center;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.join-button{
    background-color: #8e0101;
    color: white;
}

.jumbotron{
    margin-bottom: 0;
}


.feature-one{
    min-height: 300px;
    width: auto;
    background-color: #f5f5f5;
}

.feature-one-img{
    border-radius: 18px;
    background: url(../assets/images/small-images/feature-one-thumbnail.jpg);
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;
    height: auto%;
    width: auto;
}

.feature-one-text{
    text-align:center
    height: 100%;
    width: auto;
}

.feature-two{
    min-height: 300px;
    width: auto;
    
}

.feature-cards{
    margin-left: 10%;
    margin-right: 10%;
}
/* SRD PAGE */

.srd-list{
    margin: 25px;
}

.srd-hero {
    color: white;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../assets/images/large-images/srd-hero-banner.jpg);
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 350px;  
    width:100%; 
}

.srd-container{
    border-radius: 18px;
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../assets/images/large-images/div-bg-texture.jpg);
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover; 
}

.srd-body{
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../assets/images/large-images/div-bg-texture.jpg);
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover; 
    
}

.srd-icon-container{
    margin: 25px;
    border-radius: 18px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/large-images/fr-map.jpg);
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover; 
    background-blend-mode: saturation;
}

.srd-image{
    height: 95%;
    width: auto;
    
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: contain;
}


/* SIDEBAR */

#body-row {
    margin-left:0;
    margin-right:0;
}
#sidebar-container {
     
    background-color: #333;
    padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 300px;
}
.sidebar-collapsed {
    width: 100px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}
.sidebar-separator {
    background-color: #333;
    height: 25px;
}
.logo-separator {
    background-color: #333;    
    height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* LOGIN PAGE */



.user-auth-link {
    color: #f5f5f5;
    text-decoration: underline;
}
.user-auth-link:hover{
    color: grey;
    text-decoration: none;
}

/* REGISTER PAGE */
.sign-up-container{
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/images/large-images/user-auth-bg.jpg);
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;
}

form{
    color: #f5f5f5;
    margin-top: 100px;
    text-align: center;
}


.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

/* MEDIA QUERIES */

@media (max-width: 1100px) {
    .srd-image{
        display: none;
    }
}