<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}

<div class="container mt-4 mb-4">
    <form method="POST" action="{{ url_for('add_quest') }}">
        <div class="form-group">
            <label for="quest_name">Quest Title</label>
            <input name="quest_name" type="text" class="form-control" id="quest_name" placeholder="Orc hunting" required>
        </div>
        <div class="form-group">
            <label for="quest_description">Description</label>
            <input name="quest_description" type="text" class="form-control" id="quest_description"
                placeholder="The ruthless Orcs have been pillaging their way up and down the Sword Coast, lets go get em!" required>
        </div>
        <div class="form-group">
            <label for="quest_rewards">Description</label>
            <input name="quest_rewards" type="text" class="form-control" id="quest_rewards"
                placeholder="80 gold each and some other jobs in the future.">
        </div>
        <button class="btn btn-primary" type="submit">Submit form</button>
    </form>
</div>


{% endblock %}