<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}

	<section class="jumbotron jumbotron-fluid index-hero">
		<div class="container-fluid">
			<div class="cta">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h3>Dungeon Club! - Campaign Helper</h3>
					<p>This is a template for a simple marketing or informational website. It includes a large callout
						called the hero unit and three supporting pieces of content. Use it as a starting point to create
						something more unique.</p>
                    <button type="button" class="btn btn-secondary btn-lg">Join Up!</button>
				</div>
			</div>
		</div>
	</section>
 
{% endblock %}