{% extends "base.html" %} {% block content %}

<div class="jumbotron jumbotron-fluid index-hero">
    <div class="container-fluid">
        <div class="cta">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="fancy-font">Legal</h1>
            </div>
        </div>
    </div>
</div>
<div class="black-divider"></div>

<div class="container profile-intro">
    <div class="row pt-4 pb-4">
        <div class="col feature-one-text">
            <p class="fancy-font">
                Wizards of the Coast, Dungeons & Dragons, D&D, and their logos are trademarks of Wizards of the Coast LLC in the United States and other countries. © 2019 Wizards. All Rights Reserved. DnDCampaignPlanner.com is not
                affiliated with, endorsed, sponsored, or specifically approved by Wizards of the Coast LLC. <br />
                Certain aspects of the site uses the 5E SRD OGL content, <a href="https://dndcampaignplanner.com/SRD-OGL_V5.1.pdf">D&D 5E SRD Document</a>
            </p>
            <p class="fancy-font"><a href="https://dnd.wizards.com/articles/features/fan-site-kit">Here</a> you can find all the legal/copyright information from WOTC regarding Fan Sites and use of the SRD Document</p>
        </div>
    </div>
</div>

{% endblock %}
