<!DOCTYPE html>
<!-- LOOKUP CONTAINER POPULATED WITH PYMONGO -->
{% extends "lookup.html" %} {% block article %}
<div class="container shadow card lookup-container">
    <div class="row">
        <div class="lookup-list col-md col-l-8">
            <h3 class="display-4 fancy-font">Personalization</h3>
            <h4 class="strong">Alignment</h4>
            <p>
                A typical creature in the game world has an alignment, which broadly describes its moral and personal attitudes. Alignment is a combination of two factors: one identifies morality (good, evil, or neutral), and the other
                describes attitudes toward society and order (lawful, chaotic, or neutral). Thus, nine distinct alignments define the possible combinations.
            </p>
            <p>
                These brief summaries of the nine alignments describe the typical behavior of a creature with that alignment. Individuals might vary significantly from that typical behavior, and few people are perfectly and consistently
                faithful to the precepts of their alignment.
            </p>
            <p>Lawful good (LG) creatures can be counted on to do the right thing as expected by society. Gold dragons, paladins, and most dwarves are lawful good.</p>
            <p>Neutral good (NG) folk do the best they can to help others according to their needs. Many celestials, some cloud giants, and most gnomes are neutral good.</p>
            <p>Chaotic good (CG) creatures act as their conscience directs, with little regard for what others expect. Copper dragons, many elves, and unicorns are chaotic good.</p>
            <p>Lawful neutral (LN) individuals act in accordance with law, tradition, or personal codes. Many monks and some wizards are lawful neutral.</p>
            <p>Neutral (N) is the alignment of those who prefer to steer clear of moral questions and don't take sides, doing what seems best at the time. Lizardfolk, most druids, and many humans are neutral.</p>
            <p>Chaotic neutral (CN) creatures follow their whims, holding their personal freedom above all else. Many barbarians and rogues, and some bards, are chaotic neutral.</p>
            <p>Lawful evil (LE) creatures methodically take what they want, within the limits of a code of tradition, loyalty, or order. Devils, blue dragons, and hobgoblins are lawful evil.</p>
            <p>Neutral evil (NE) is the alignment of those who do whatever they can get away with, without compassion or qualms. Many drow, some cloud giants, and goblins are neutral evil.</p>
            <p>Chaotic evil (CE) creatures act with arbitrary violence, spurred by their greed, hatred, or bloodlust. Demons, red dragons, and orcs are chaotic evil.</p>
            <h4 class="strong">Alignment in the Multiverse</h4>
            <p>
                For many thinking creatures, alignment is a moral choice. Humans, dwarves, elves, and other humanoid races can choose whether to follow the paths of good or evil, law or chaos. According to myth, the good- aligned gods who
                created these races gave them free will to choose their moral paths, knowing that good without free will is slavery.
            </p>
            <p>
                The evil deities who created other races, though, made those races to serve them. Those races have strong inborn tendencies that match the nature of their gods. Most orcs share the violent, savage nature of the orc gods, and
                are thus inclined toward evil. Even if an orc chooses a good alignment, it struggles against its innate tendencies for its entire life. (Even half-orcs feel the lingering pull of the orc god's influence.)
            </p>
            <p>
                Alignment is an essential part of the nature of celestials and fiends. A devil does not choose to be lawful evil, and it doesn't tend toward lawful evil, but rather it is lawful evil in its essence. If it somehow ceased to
                be lawful evil, it would cease to be a devil.
            </p>
            <p>
                Most creatures that lack the capacity for rational thought do not have alignments-they are unaligned. Such a creature is incapable of making a moral or ethical choice and acts according to its bestial nature. Sharks are
                savage predators, for example, but they are not evil; they have no alignment.
            </p>
            <h4 class="strong">Languages</h4>
            <p>Your race indicates the languages your character can speak by default, and your background might give you access to one or more additional languages of your choice. Note these languages on your character sheet.</p>
            <p>Your race indicates the languages your character can speak by default, and your background might give you access to one or more additional languages of your choice. Note these languages on your character sheet.</p>
            <p>
                Some of these languages are actually families of languages with many dialects. For example, the Primordial language includes the Auran, Aquan, Ignan, and Terran dialects, one for each of the four elemental planes. Creatures
                that speak different dialects of the same language can communicate with one another.
            </p>
            <h5 class="strong">Table - Standard Languages</h5>
            <table style="width: 50%;">
                <tr>
                    <th>Language</th>
                    <th>Typical Speakers</th>
                    <th>Script</th>
                </tr>
                <tr>
                    <td>Common</td>
                    <td>Humans</td>
                    <td>Common</td>
                </tr>
                <tr>
                    <td>Dwarvish</td>
                    <td>Dwarves</td>
                    <td>Dwarvish</td>
                </tr>
                <tr>
                    <td>Elvish</td>
                    <td>Elves</td>
                    <td>Elvish</td>
                </tr>
                <tr>
                    <td>Giant</td>
                    <td>Ogres, Giants</td>
                    <td>Dwarvish</td>
                </tr>
                <tr>
                    <td>Gnomish</td>
                    <td>Gnomes</td>
                    <td>Dwarvish</td>
                </tr>
                <tr>
                    <td>Goblin</td>
                    <td>Goblinoids</td>
                    <td>Dwarvish</td>
                </tr>
                <tr>
                    <td>Halfling</td>
                    <td>Halflings</td>
                    <td>Common</td>
                </tr>
                <tr>
                    <td>Orc</td>
                    <td>Orcs</td>
                    <td>Dwarvish</td>
                </tr>
            </table>
            <br />
            <h5 class="strong">Table - Exotic Languages</h5>
            <table style="width: 50%;">
                <tr>
                    <th>Language</th>
                    <th>Typical Speakers</th>
                    <th>Script</th>
                </tr>
                <tr>
                    <td>Abyssal</td>
                    <td>Demons</td>
                    <td>Infernal</td>
                </tr>
                <tr>
                    <td>Celestial</td>
                    <td>Celestials</td>
                    <td>Celestial</td>
                </tr>
                <tr>
                    <td>Draconic</td>
                    <td>Dragons, Dragonborn</td>
                    <td>Draconic</td>
                </tr>
                <tr>
                    <td>Deep Speech</td>
                    <td>Aboleths, Cloakers</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Infernal</td>
                    <td>Devils</td>
                    <td>Infernal</td>
                </tr>
                <tr>
                    <td>Primordial</td>
                    <td>Elementals</td>
                    <td>Dwarvish</td>
                </tr>
                <tr>
                    <td>Sylvan</td>
                    <td>Fey Creatures</td>
                    <td>Elvish</td>
                </tr>
                <tr>
                    <td>Undercommon</td>
                    <td>Underworld Traders</td>
                    <td>Elvish</td>
                </tr>
            </table>
            <br />
            <h4 class="strong">Inspiration</h4>
            <p>
                Inspiration is a rule the game master can use to reward you for playing your character in a way that's true to his or her personality traits, ideal, bond, and flaw. By using inspiration, you can draw on your personality
                trait of compassion for the downtrodden to give you an edge in negotiating with the Beggar Prince. Or inspiration can let you call on your bond to the defense of your home village to push past the effect of a spell that has
                been laid on you.
            </p>
            <h5 class="strong">Gaining Inspiration</h5>
            <p>
                Your GM can choose to give you inspiration for a variety of reasons. Typically, GMs award it when you play out your personality traits, give in to the drawbacks presented by a flaw or bond, and otherwise portray your
                character in a compelling way. Your GM will tell you how you can earn inspiration in the game.
            </p>
            <h5 class="strong">Using Inspiration</h5>
            <p>If you have inspiration, you can expend it when you make an attack roll, saving throw, or ability check. Spending your inspiration gives you advantage on that roll.</p>
            <p>
                Additionally, if you have inspiration, you can reward another player for good roleplaying, clever thinking, or simply doing something exciting in the game. When another player character does something that really contributes
                to the story in a fun and interesting way, you can give up your inspiration to give that character inspiration.
            </p>
            <h4 class="strong">Backgrounds</h4>
            <p>
                Every story has a beginning. Your character's background reveals where you came from, how you became an adventurer, and your place in the world. Your fighter might have been a courageous knight or a grizzled soldier. Your
                wizard could have been a sage or an artisan. Your rogue might have gotten by as a guild thief or commanded audiences as a jester.
            </p>
            <p>
                Choosing a background provides you with important story cues about your character's identity. The most important question to ask about your background is what changed? Why did you stop doing whatever your background
                describes and start adventuring? Where did you get the money to purchase your starting gear, or, if you come from a wealthy background, why don't you have more money? How did you learn the skills of your class? What sets you
                apart from ordinary people who share your background?
            </p>
            <p>The sample backgrounds in this chapter provide both concrete benefits (features, proficiencies, and languages) and roleplaying suggestions.</p>
            <p><strong>Languages</strong></p>
            <p>Some backgrounds also allow characters to learn additional languages beyond those given by race. See "Languages."</p>
            <p><strong>Equipment</strong></p>
            <p>Each background provides a package of starting equipment. If you use the optional rule to spend coin on gear, you do not receive the starting equipment from your background.</p>
            <p><strong>Suggested Characteristics</strong></p>
            <p>
                A background contains suggested personal characteristics based on your background. You can pick characteristics, roll dice to determine them randomly, or use the suggestions as inspiration for characteristics of your own
                creation.
            </p>
            <p><strong>Customizing a Background</strong></p>
            <p>
                You might want to tweak some of the features of a background so it better fits your character or the campaign setting. To customize a background, you can replace one feature with any other one, choose any two skills, and
                choose a total of two tool proficiencies or languages from the sample backgrounds. You can either use the equipment package from your background or spend coin on gear as described in the equipment section. (If you spend
                coin, you can't also take the equipment package suggested for your class.) Finally, choose two personality traits, one ideal, one bond, and one flaw. If you can't find a feature that matches your desired background, work
                with your GM to create one.
            </p>
        </div>
    </div>
</div>
{% endblock %}
